.NavBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f0f0f0;
    padding: 10px;
  }
  
  .NavBar h3 {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
  }
  
  .Categories {
    display: flex;
  }
  
  .Option {
    margin-right: 10px;
    padding: 5px;
    text-decoration: none;
    color: #000;
  }
  
  .ActiveOption {
    margin-right: 10px;
    padding: 5px;
    text-decoration: none;
    color: #fff;
    background-color: #007bff;
  }
  